.list-container {
  // margin-top: 2.8rem;
     display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-template-columns: auto auto auto auto;
<<<<<<< HEAD
    grid-gap: 10px;
=======
    // grid-gap: 1px;
>>>>>>> 8fa0a20ae7dd439e5546ce61c8b3ccd5bfba9c40

  a {
    text-decoration: none;
    // color: #22292f
    color: #474959
  }

}