.evento-filter{
    margin-top: 20px;
    height: 50px;
    margin-bottom: 30px;
}

.el-select {
    margin: 5px 10px;
  }
  .el-button {
    margin: 0px 10px;
  }
  .el-input.search {
    max-width: 200px;
    margin-bottom: 10px;

    .el-input__inner{
        border-radius: 0.5rem;
    }
  }