.evento-footer {
    height: 7rem;
    background-color: rgba(218, 210, 210, 0.247);
    // padding-bottom: 3rem;
    border-top: 1px solid  rgb(224, 224, 224);
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .logo-img{
        width: 9rem;
  }


}