.nav-bar {
  color: rgb(59, 59, 59);
  font-size: 1.5rem;
  // box-shadow: 0px 0.2px 20px grey;
  border-bottom: 1px solid  rgb(224, 224, 224);
  background-repeat: no-repeat;
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;

  .app-logo {
    color: #5e17eb;
    padding: 0 1rem;
    font-size: 2.5rem;
    font-weight: 900;

    // @media (max-width:710px) {
    //   font-size:2rem;
    //   padding-top: 20px;
    //   margin: 1rem auto;
    // }
  }

  .logo-img{
    width: 150px;
    height: 36px;
    padding-left: 20px;
  }



  a {
    color: #5e17eb;
    font-size: 1.3rem;
    margin: 1rem 1rem;
    text-decoration: none;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 0.00em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
      color: #4f15c4;
  }
  // @media (max-width:470px) {
  //   font-size: 1.2rem;  
  // }
  // @media (max-width:445px) {
  //   font-size: 1.1rem;  
  // }
  // @media (max-width:423px) {
  //   font-size: 1rem;  
  // }
  // @media (max-width:400px) {
  //   font-size: 0.9rem;  
  // }
    // &.router-link-exact-active {
    // color: #5e17eb;
    // }
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 15px;
    @media (max-width:710px) {
      background-color: whitesmoke;
      padding-bottom: 1rem;
      font-size: 1rem;
      padding-top: 5px;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      display: block;
      margin: auto;
    }
  }

//  .nav-links a:hover{
//     color: #5e17eb;
//     // text-decoration: underline;
//     transition: 0.4s;
//   }

}