.nav-bar {
  padding-top: 1rem;
  color: rgb(59, 59, 59);
  font-size: 1.5rem;
  border-bottom: 1px solid  rgb(224, 224, 224);
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;


  .logo-img{
    width: 150px;
    // height: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .user-btn{
    padding: 5px 12px;
    border-radius: 1.5rem;
    border: none;
    margin-right: 1rem;
    // margin-bottom: 2rem;
  }

  }

  .nav-links {
    list-style: none;
    height: 52px;

    a {
      color: #5e17eb;
      font-size: 1.3rem;
      padding: 1rem 1rem 1rem 1rem;
      text-decoration: none;
      background-repeat: no-repeat;
      background-size: 100% 0.00em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
      &:hover {
        color: #4f15c4;
    }

    // @media (max-width:710px) {
    //   padding-bottom: 1rem;
    //   font-size: 1rem;
    //   padding-top: 5px;
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   margin: 0;
    //   display: block;
    //   margin: auto;
    // }
  }
}