.details-hero{

.list-h1 {
    position: absolute;
    color: white;
    // justify-content: center;
    text-align: center;
    margin: 6rem 40%;
    width: 10rem;
}

.hero-list-img {
    width: 100%;
}

}

