.evento-details {
    p {
        line-height: 2;
    }
}
// ככה מעצבים אלמנט
.join-modal {

    background-color: red;
}

.top-desc {
    padding-right: 5%;
    width: 70%;
    margin-left: 1rem;
    border-right: 1px solid rgb(211, 211, 211);
}

.evento-details-title {
    text-align: left;

    .creator-img{
        width: 20px;
    }
}


.evento-tag {
    background-color: #6c757d;
    color: white;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 0.25rem;
    margin: 2.5px;
    cursor: default;
}

.evento-details-h4 {
    color: $clr3;
}

.evento-info {
    border-top: solid rgb(211, 211, 211) 1px;
    border-bottom: solid rgb(211, 211, 211) 1px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-gap: 5px;
    
    color: $clr3;

    i {
        font-size: 1.5rem;
        margin-left: 3rem;
    }

}

.evento-description {
    margin-bottom: 3rem;
}

.about-creator{
    margin-bottom: 3rem;
}

.about-creator-title {
    h3{
        margin-left: 1rem;
    }
}

.evento-details span{
    font-weight: bold;
}

.evento-join{
    width: 30%;
    padding: 1rem;
}

.evento-start{
    margin-bottom: 100px;
    margin-top: 10px;
   
    border-width: 0.1rem;
    border-color: #4b4d4b;
    border-radius: 0.5rem;
    border-style: solid;

    .evento-start-txt {
        padding-left: 3rem;
    }
}

.members-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 5px;

}

.member-img {
    width: 7rem;
    border-radius: 2rem;
}

.guest-sign {
    input{
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        line-height: 30px;
        font-size:14px;
        border:0;
        background: none;
        border-bottom:1px solid #ccc;
        outline:none;
        border-radius: 0;
        -webkit-appearance: none;
    }

    button {
        color: $clr5;
        background-color: $clr2;
        margin-top: 50%;
        font-size: 1rem;
        font-weight: lighter;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        outline: none;
        border-style: solid;
        border-radius: 0.5rem;
        width: 14rem;
        text-decoration: none;
        margin: 2rem auto;
        cursor: pointer;
    }
}


.join-btn {
    display: block;
    background-color: $clr1;
    color: #fff;
    margin-top: 50%;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    outline: none;
    border-style: solid;
    border-color: $clr1;
    border-radius: 0.2rem;
    width: 14rem;
    text-decoration: none;
    margin: 2rem auto;
    cursor: pointer;
}

.chat-body{

    height: 25rem;
    position: relative;
    background-color: #F2F5F8;

    .chat-header{
        border: black solid 1px;
        height: 3rem;
        background-color: $clr1;
        color: $clr5;

        p{
            text-align: center;
        }
    }
   

    input{
        outline: none;
        // border: none;
        padding: 0.2rem 0rem;
        margin-right: 0.3rem;
        min-width: 14rem;
        max-width: 15rem;
    }

    ::placeholder{
        color: $clr3;
    }


    ul{
        list-style: none;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        
        
    }

    li{
      background: #0084ff;
      padding: 8px;
      height: fit-content;
      width: fit-content;
      margin-bottom: 1rem;
      margin-top: 1rem;
      border-radius: 1rem;
      color: $clr5;
      text-align: left;
      font-size: 0.8rem;

      span{
          font-weight: bold;
      }
    }

    .chat-input{
        position: absolute;
        left: 2rem;
        top: 22.6rem;
    }

    button{
        color: $clr5;
        background-color:$clr1;
        font-size: 0.9rem;
        text-decoration: none;
        padding: 0.36rem 0.5rem;
        outline: none;
        border: none;
        border-radius: 0.2rem;
        text-decoration: none;
        cursor: pointer;
    }
}

.start-btn{
    padding: 0.5rem 0.5rem;
}


.evento-details-hero {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-column-gap: 0.4rem;
    
    img {
        width: 100%;
    }
}

.reviews-container {

          border-top: 1px solid  rgb(209, 209, 209);

          h4 {
              color: #978d8d;
            cursor: pointer;

          }


    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        // grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
        // grid-column-gap: 0.5rem;
        font-size: 0.8rem;
    
        .review {
            width: 150px;
            margin: 0.5rem;
            margin-bottom: 5rem;
            // font-family: 'Open Sans', sans-serif;

           
        }
    
        img {
            width: 100%;
            // display: flex;
        }
        .review-title {
            font-weight: bold;
        }
    }

}

        .fa-star{
            color: #ffbf00;
        }

.related-lectures-container {

          border-top: 1px solid  rgb(209, 209, 209);
          margin-top: 2rem;

}
