.evento-details{
    color: #080808;
}
.evento-details-hiro {
    color: #080808;
    height: 300px;
    background-color: white;
    padding: 0 5rem 0 5rem;
      .hiro-img {
        width: 50%;
    }
    
   
    .evento-details-hiro-img {
        width: 50%;
    }


}

.evento-desc {
    padding-right: 5%;
    width: 70%;
    margin-left: 100px;
    border-right: 1px solid rgb(224, 224, 224);
}

.evento-details-title {
    text-align: left;


    .creator-img{
        width: 20px;
    }
    
}

.evento-info{
    border: #080808 1px solid;
}


.evento-desc p{
    text-align: left;
}

.evento-details span{
    font-weight: bold;
}

.evento-join{
    width: 30%;
    padding: 0 2rem;
}

.evento-members{
    display: grid;
    grid-template-columns: repeat(minmax(10px,10px));
    grid-template-rows: repeat();

}

.member-img {
    width: 7rem;
    border-radius: 2rem;
}

.guest-sign{
    input{
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        line-height: 30px;
        font-size:14px;
        border:0;
        background: none;
        border-bottom:1px solid #ccc;
        outline:none;
        border-radius: 0;
        -webkit-appearance: none;
    }

    button{
        color: black;
        margin-top: 50%;
        font-size: 1rem;
        font-weight: lighter;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        outline: none;
        border-style: solid;
        border-color: #5e17eb;
        border-radius: 0.5rem;
        width: 14rem;
        text-decoration: none;
        margin: 2rem auto;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
          //   color: #5e17eb;
           background-color: #5e17eb;
          }
    }
}


.join-btn {
    background-color: #5e17eb;
    color: white;
    margin-top: 50%;
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 0.5rem 4rem;
    outline: none;
    border-style: solid;
    border-color: #5e17eb;
    border-radius: 0.2rem;
    width: 16rem;
    text-decoration: none;
    margin: 2rem auto;
    cursor: pointer;


}


.evento-details-h1 {
    font-size: 2rem;
}

.evento-details-h2 {
    font-size: 1.5rem;
}

.evento-details-h3 {
    font-size: 1.2rem;
}

.evento-details-h4 {
    font-size: 1rem;
}

.evento-description {
    font-weight: 900;
}

