// .evento-details{
//     img {
//         width: 100px;
//     }
// }


.evento-details-hiro {
    height: 300px;
    // background-color: rgb(224, 224, 224);
    background-image: linear-gradient(120deg, #ff6600 0%, #ffe600 100%);
    padding: 0 5rem 0 5rem;
      img {
        width: 50%;
    }
}

.evento-details-hiro-title {
    width: 50%;
    
}

.evento-details-hiro-img {
    width: 50%;
}

.evento-desc {
    padding-right: 5%;
    width: 70%;
    margin-left: 100px;
    border-right: 1px solid rgb(224, 224, 224);
}


.evento-desc p{
    text-align: left;
}

.evento-details span{
    font-weight: bold;
}

.evento-join{
    width: 30%;
    padding: 0 2rem;
}

// .evento-join p {
//     text-align: left;
// }

.member-img {
    width: 7rem;
    border-radius: 2rem;
    // display: inline;
}




.join-btn {
    color: #5e17eb;
    margin-top: 50%;
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    padding: 0.5rem 4rem;
    background-image: linear-gradient(120deg, #ff6600 0%, #ffe600 100%);
    outline: none;
    border-style: solid;
    border-color: #5e17eb;
    border-radius: 5rem;
    width: 16rem;
    text-decoration: none;
    margin: 2rem auto;

    &:hover {
    //   width: 19rem;
      transition: 0.3s;
    //   color: #5e17eb;
      background-image: linear-gradient(120deg, #00ff22 0%, #fffb00 100%);
    }

}


.evento-details-h1 {
    font-size: 2rem;
}

.evento-details-h2 {
    font-size: 1.5rem;
}

.evento-details-h3 {
    font-size: 1.2rem;
}

.evento-details-h4 {
    font-size: 1rem;
}

.evento-description {
    font-weight: 900;
}