.home {

  .eventos-line{
    margin: 3rem 7.3rem ;
    h3:first-child {
      border-bottom: 1px solid  rgb(224, 224, 224);

    }

    
  }
  
  a {
    text-decoration: none;
  }
  
}
 


.centered-header {
  
    color: white;
    position: absolute;
    padding: 2rem 1rem;


    @media (max-width:1080px) {
      float: none;
    }
    @media (min-width:1080px) {
      text-align: left;
    }
  }
  


.hp-h1{
  color: $clr5;
  font-size: 30px;
  margin-left: 1rem;
  margin-bottom: 4rem;
}


  .home-hero {
    width: 100%;
    min-height: 400px;
    max-height: 550px;
  }

 
.hp-btn {
  color: $clr6;
  background-color: $clr8;
  margin: 0 0  0 1rem;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  outline: none;
  border-style: solid;
  border-color: $clr8;
  border-radius: 0.5rem;
  width: 10rem;
  text-decoration: none;
  
  cursor: pointer;

}


.sub-nav-bar {
  color: $clr2;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-content: space-between;
  display: flex;

  .hp-sub-link-1 {
    padding-top: 1rem;
  }
      a {
        color: $clr2;
        font-size: 1.3rem;
        margin: 1rem 1rem;
        text-decoration: none;
        &:hover {
        background-size: 100% 15%;
        }
      }
        .hp-sub-link-2 {
        display: flex;
        list-style: none;
        margin: 15px;
  }
}



      
