.home {

  overflow-x: hidden;
}




.centered-h1 {
    color: white;
    // float: left;
    margin-top: 5%;
    // margin-bottom: 5rem;
    position: absolute;
    padding-left: 5rem;


    @media (max-width:1080px) {
      float: none;
    }
    @media (min-width:1080px) {
      text-align: left;
    }
  }
  
  .txt-vect-hero {
    // height: 100vh;
    // width: 100%
    // margin: 5% 10%;
      // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-template-rows: auto 1fr auto;
  }


  .home-vector {
    width: 100%;
    height: 30rem
// justify-content: center;
// padding-bottom: 10px;
// width: 100%;
// height: 130px;
// float: right;
// @media (max-width:1080px) {
// float: none;
//  }
}




 
.hp-btn {
  color: white;
  background-color: #5e17eb;
  margin-top: 50%;
  font-size: 1rem;
  // font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  outline: none;
  border-style: solid;
  border-color: #5e17eb;
  border-radius: 0.5rem;
  width: 14rem;
  text-decoration: none;
  margin: 2rem auto;
  cursor: pointer;
  
  &:hover {
    background-color: #4f15c4;
  }
}



.sub-nav-bar {
  color: rgb(59, 59, 59);
  font-size: 1.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-content: space-between;
  display: flex;

  .hp-sub-link-1 {
    color: #5e17eb;
    padding-top: 1rem;
  }
      a {
        color: #5e17eb;
        font-size: 1.3rem;
        margin: 1rem 1rem;
        text-decoration: none;
        align-items: center;
        // background-image: linear-gradient(120deg, #ff6600 0%, #ffe600 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.00em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;
        &:hover {
        background-size: 100% 15%;
        }
      }
        .hp-sub-link-2 {
        display: flex;
        list-style: none;
        margin: 15px;
  }
}






      // .hero {
        // width: 100%;
        // height: 100%;
        // height: 75vh;
        // z-index: 9;
      // }
      // .hero-bg {
      //   background-image: linear-gradient(100deg, white, #5e17eb);
      // }

      
