
// COLOR PALETTE

$clr1: #432464;
$clr3: #bbbbbe;
$clr2: #495464;
$clr4: #e8e8e8;
$clr5: #fff;

$clr6: #542474;
$clr7: #8941b8;
$clr8: #f4f4f2;



// $clr1: #5e17eb;
// $clr3: #ffb5b5;
// $clr2: #504658;
// $clr4: #f0decb;
// $clr5: #fff;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;